/* Reset básico para asegurar ocupación total */
body {
    margin: 0;
    padding: 0;
}

/* Estilos del contenedor nav */
nav {
    background-color: #992222; /* Color de fondo */
    display: flex; /* Flexbox para alinear elementos */
    justify-content: right; /* Alinear a la derecha */
    align-items: center; /* Centrado vertical */
    padding: 1rem; /* Espaciado interno */
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
nav a {
  text-decoration: none; /* Quita subrayado */
  color: white;
  font-weight: bold;
}
/* Estilos para la lista de navegación */
nav ul {
    list-style: none; /* Quitar viñetas */
    margin: 0;
    padding: 0;
    display: flex; /* Horizontal */
    gap: 20px; /* Espacio entre elementos */
}
/* Efecto hover */
nav a:hover {
    color: #f46161;
}
/* Ejemplo CSS */
.topnav a#active {
    color: #f4a261;             /* Color de texto */
}
a#active2 {
    color: #f4a261;             /* Color de texto */
}
.logo{
  display: block; 
  margin-right: auto;
}
body {
    background-color: #333;
    color: aliceblue;
}
header {
  background-color: #333;    /* Color de fondo oscuro */
  color: white;              /* Color de texto blanco */
  padding: 20px 40px;        /* Espaciado interno */
  display: flex;             /* Alineación flexible de elementos */
  justify-content:center;    /* Centra los elementos */
  align-items: center;       /* Centra elementos verticalmente */
  font-size:xx-large;        /* tamaño de letra */
  font-family:cursive
}

footer {
  background-color: #992222;
  color: white;
  text-align: center;
  padding: 1rem;
  position: relative;
  bottom: 0;
  width: 100%;
}
body {
    background-color: #333;
    color: aliceblue;
}
.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
}
.galeria img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}
p {
    display: flex; /* Flexbox para alinear elementos */
    justify-content: center; /* Alinear al centro */
    align-items: center; /* Centrado vertical */
}
iframe {
   display: block; 
    margin: 0 auto;
}