<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../css/styles.css">

    <title>Galería - Ferretería Dávila</title>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" defer></script>
    <script src="../js/galeria.js" defer></script>
</head>

<body>

    <!-- MENÚ -->

    <nav>

        <div class="logo">

            <img src="../assets/fotos/sin_fondo.png"
                 width="500" height="500"
                 alt="logo">

        </div>

        <ul>

            <li>
                <a href="../index.html">
                    inicio
                </a>
            </li>

            <li>
                <a href="./presupuesto.html">
                    presupuesto
                </a>
            </li>

            <li>
                <a href="./galeria.html" class="nav-activa">
                    galeria
                </a>
            </li>

            <li>
                <a href="./contacto.html">
                    contacto
                </a>
            </li>

        </ul>

    </nav>


    <!-- GALERÍA -->

    <main>

        <h1 class="titulo-galeria">
            Galería de Ferretería Dávila
        </h1>

        <div class="galeria" id="galeria">

            <!-- Las fotos aparecerán aquí automáticamente -->

        </div>

    </main>


    <!-- PIE DE PÁGINA -->

    <footer>

        <p>Santa Ursula, Carretera provincial 34</p>
<div class="redes-sociales">
<a href="https://www.facebook.com/davilaferreteria">
            <img src="../assets/fotos/facebook.png"
                 width="512" height="512"
                 alt="facebook">
        </a>

        <a href="https://www.instagram.com/davilaferreteria/">
            <img src="../assets/fotos/instagram.png"
                 width="512" height="512"
                 alt="instagram">
        </a>
</div>
<p>922 30 29 40</p>
<p>Todos los derechos reservados</p>

    </footer>
</body>

</html>
