<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Document</title>
</head>
<body>
     <nav>
        <div class="logo">
        <img src="../assets/fotos/sin fondo.png" width="40" height="40" alt="logo">
        </div>
            <ul>
                <li><a href="../index.html" id="active2">inicio</a></li>
                <li><a href="./presupuesto.html" id="active2">presupuesto</a> </li>
                <li><a href="./imagenes.html" id="active">galeria</a></li>
                <li><a href="./contacto.html" id="active2">contacto</a></li>
            </ul>
        </nav>
    <div class="galeria">
    <img src="../assets/fotos/brochas.jpeg" width="100" height="100" alt="Exhibicion de brochas">
    <img src="../assets/fotos/martillo dewalt.jpeg" width="100" height="100" alt="Martillo electrico">
    <img src="../assets/fotos/reventon.jpeg" width="100" height="100" alt="Bote de pintura">
    </div>
    <footer>
            <p>Santa Ursula, Carretera provincial 34</p><br>
            <a href="www.facebook.com"><img src="../assets/fotos/facebook.png" width="100" height="100" alt="facebook"></a>
            <a href="www.instagram.com"><img src="../assets/fotos/instagram.png" width="100" height="100" alt="instagram"></a>
            <a href="www.youtube.com"><img src="../assets/fotos/youtube.png" width="100" height="100" alt="youtube"></a><br>
            <p>922 30 29 40</p><br>
            <p>Todos los derechos reservados</p>
        </footer>
</body>
</html>